html{
    font-size: 20px;
    background-color: #20dbd8;
}
h1{
    font-size: 15px;
}
.navegacion{
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: normal;
    color:#1fa8d5;
    background-color: #12364d;
    display: block;
    font-size: 0.7rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 5px solid red;
}
.img1{
    width: 150px;
}
.img2{
    width: 250px;
}
.img3{
    width: 40px;
}
.img4{
    width: 40px;
}
.navegacion div{
    margin: 0px;
    padding: 0px;
    border: 5px solid green;
    font-size: 1rem;
}
.deliver{
    border: 5px solid purple;
    font-size: 16;
    font-weight: 400;
}
.bold{
    font-weight: 900;
}
.mapa{
    display: flex;
    align-items: end;
}
.bloque{
    display: block;
}
.busqueda{
    display: flex;
    justify-content: space-around;
    border: 7px solid brown;
    border-radius: 20px;
}
.busqueda span{
    padding: .5rem;
}
.buscar{
    padding: 1rem;
    font-size: 18px;
    margin: -.5rem;
    margin-right: .6rem;
    margin-left: .6rem;
}
.all{
    background-color: whitesmoke;
    color: black;
    
}
.lupa{
    background-color: bisque;
}

/*
    .ejemplo{
    background-image: url(./assets/logo.png);
    width: 300px;
    }
*/

.color1 {color: #120e19;}
.color2 {color: #12364d;}
.color3 {color: #14658c;}
.color4 {color: #1fa8d5;}
.color5 {color: #20dbd8;}